# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Base de datos local
*.db
*.sqlite3

# Variables de entorno
.env
!.env.example

# Node
node_modules/
dist/
.cache/

# Vite
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Storage (archivos subidos localmente)
backend/storage/
